[submodule "aws-lc-sys/aws-lc"]
	path = aws-lc-sys/aws-lc
	url = https://github.com/oxidecomputer/aws-lc.git
	branch = illumos/v1.34.2
[submodule "aws-lc-fips-sys/aws-lc"]
	path = aws-lc-fips-sys/aws-lc
	url = https://github.com/aws/aws-lc.git
	branch = fips-2022-11-02
